.navbar-brand{
    font-size:45px;
    font-weight: bold;
    margin-left:400px;
    font-family: 'Sacramento', cursive;
}

.navbar{
    background-color: white !important;
}

.log-btn{
    margin-right:400px;
    padding:12px 20px;
    background-color: none I !important;
    color:white !important;
    border-radius:55px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.lgd{
    margin:0px 5px 3px 5px;
}